<!doctype html>
	<head>
		<title>Be Nice As A Service</title>
		<link rel="stylesheet" href="/css/foundation.min.css">
    <meta charset="utf-8">
	</head>
	<body>
		<div class="row">
			<h1><%= @message %></h1>
			<h2><%= @subtitle %></h1>
		</div>
	</body>		
</html>