<!doctype html>
	<head>
		<title>Be Nice As A Service</title>
		<link rel="stylesheet" href="/css/foundation.min.css">
    <meta charset="utf-8">
	</head>
	<body>
		<header class="row">
			<h1>BNAAS - Be Nice As A Service</h1>
		</header>
		<div class="row">
			<h3>API:</h3>
			<ul>
				<li>
					<p><strong>GET - /:name/:from</strong></b>
				</li>
			</ul>
		</div>
	</body>
</html>